body {
    display: flex;
    flex-direction: column;
    flex: 100%;
}

.shapka {
    padding: 20px 20px 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(1, 58, 76, 0.2);
    border-radius: 0px;
    background: #FFFFFF;
}

.main {
    display: flex;
    padding: 20px;
    height: 100vh;
    background-image: url("../assets/images/Rectangle.png");
   background-size: cover;  /* не разобралась, как сделать, чтобы картинка сжималась по ширине */
}

.main2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.main3 {
    padding: 0 0 0 50px;
    display: inline-flex;
    width: 400px;
    justify-content: space-between;
}

h1 {
    padding: 0 0 0 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 78px;
    letter-spacing: 2px;
    color: #013A4C;
}

h1::before {
    content: "🐼";
}

h1::selection {
    background: rgb(122, 221, 221);
}

.text {
    padding: 0 0 0 50px;
    font-family: 'Smooch', cursive;
    font-style: large;
    font-weight: 400;
    font-size: 34px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #216175;

}

p.text::first-letter {
    color: #2976e1;
}


ul.hr li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

li {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #013A4C;
}

.why::after {
    content: "🐼"
}

.learn::after {
    content: "🐼"
}


.price::after {
    content: "🐼"
}

.about::after {
    content: "🐼"
}

.blog::after {
    content: "🐼";
    padding: 0 100px 0 0;
}

.oneflow {
    width: 176px;
    height: 50px;
    background-color: #FFD063;
    color: #013A4C;
    border: 1px solid #FFD063;
    border-radius: 4px;
}

button.oneflow:hover {
    background: rgba(255, 255, 255, .2);
}

button.oneflow:active {
    background: white;
}

.take {
    width: 176px;
    height: 50px;
    background-color: #013A4C;
    color: #dfebee;
    border: 1px solid #413b30;
    border-radius: 4px;
}

button.take:hover {
    background: rgba(231, 46, 46, 0.2);
}

button.take:active {
    background: rgba(150, 233, 193, 0.5);
}

button.get {
    width: 114px;
    height: 40px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #013A4C;
    width: 80px;
    height: 18px;
    box-sizing: border-box;
    height: 40px;
    width: 120px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
}

button.get:hover {
    background: rgba(255, 255, 255, .2);
}

button.get:active {
    background: white;
}

button.log {
    width: 75px;
    height: 40px;
    width: 41px;
    height: 18px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    width: 80px;
    background: #FFFFFF;
    border: 1px solid #346170;
    border-radius: 4px;
    color: #013A4C;
}

button.log:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

button.log:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.globus {
    width: 20px;
    height: 20px;
}

a.globus:hover {
    background: rgb(182, 227, 67);
}

a.globus:active {
    background: rgb(182, 227, 67);
    box-shadow: 0 3px rgb(182, 227, 67) inset;
}

#logo {
    position: absolute;
    width: 139.97px;
    height: 30.95px;
    left: 20px;
    right: 0%;
    top: 30px;
    bottom: 0.17%;
    box-shadow: inset 0 0 6px;
    padding: 10px;
    border-radius: 10px;
    background: #eeece0;
}

a.global {
    text-decoration: none;
}

a.global:link {
    color: #a449dd;
    border-bottom: 1px dashed;
}

a.global:visited {
    color: #346170;
}

a.global:hover {
    color: #154088;
    border-bottom: .07em solid;
}

a.global:active {
    color: #497DDD;
    border-bottom: 1px dashed;
}

.second {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../assets/images/Rectangle1.png");
    /* width: 1440px; */
    height: 288px;
}

.secp {
    flex-basis: 100%;
    color: #f5f2f2;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.7px;
}

.brand {
    width: 95px;
    box-shadow: inset 0 0 6px;
    padding: 10px;
    border-radius: 10px;
    background: #d8ca77;
}

.apotease {
    height: 35px;
}

.tele2 {
    height: 35px;
}

.dagens {
    height: 35px;
}

.dormakow {
    height: 35px;
}

.experis {
    height: 35px;
}

.newsec {
    height: 35px;
}

.system {
    height: 35px;
}

.footer {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    /* width: 1440px; */
    height: 276px;
    background-image: url("../assets/images/footer.png");
}

#flogo {
    width: 139.97px;
    height: 30.95px;
    box-shadow: inset 0 0 6px;
    padding: 10px;
    border-radius: 10px;
    background: #eeece0;
}

.add {
    flex-basis: 100%;
    padding: 10px;
    color: #FFFFFF;
    font-family: 'Akshar', sans-serif;
}

.pfoot {
    color: #FFFFFF;
}

.bfoot {
    margin: 50px -50px 0 -650px;
    background-color: #FFD063;
    color: #013A4C;
    width: 203px;
    height: 40px;
    left: 400px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    color: #fff;
    background-color: #5e5373;
    box-shadow: 0 5px 0px #3c354a;
    transition-duration: 1s, 4s, 4s;
    transition-property: background-color, top, box-shadow;
    transition-delay: 0s, 5s, 0.5s;
    transition-timing-function: ease;
}

button.bfoot:hover {
    top: 1245px;
    box-shadow: #3c354a;
    background-color: #18b5a4;
}

button.bfoot:active {
    background: white;
}

body {
    margin: 0;
    padding: 0;
}

.solid {
    width: 100%;
    height: 250px;
    background-color: aquamarine;
    border-bottom: 15px solid black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: absolute;
    top: -250px;
    transition: top 1s ease-in-out;
    animation: render 2s ease-in-out infinite;

}

.solid p {
    text-align: center;
    margin: 100px;
}

.solid:hover {
    top: 0;
}

@keyframes render {
    0% {
        background-color: aquamarine;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: darkgoldenrod;
    }
}